<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="AIAssistant" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\InSis_AI_Projects\InSis_AI_Assistant\myenv\Scripts\python.exe|C:\Users\insis\AppData\Local\Programs\Python\Python310\lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
    </system.webServer>

</configuration>
